.post {	
	margin: 0;
	padding: 0;
	width: 90%;
	
}

#campoFoto {
	width: 48px;
	height: 48px;
	
	border-radius: 50%;
}

#campoFoto img {
	border: 0;
}

.commentPerfil{	
	overflow-y: auto;
	background:#1e182f;
	padding:5px;	
	margin-bottom:5px;
	margin-right:5px;
	float:right;
	width:400px;
	max-height:300px;
	min-height: 300px;
	border-radius: 10px;
}

p#texto {
	margin: 0;
	padding: 10px;
	height: auto;
	max-height: 80%;
	
	
}




