@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
	margin: 0;	
	font-family: 'Montserrat', sans-serif;
	outline: none;
	transition: all .23s ease-in-out;
}
/* regra para o box-sizing */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* regra para o clear float */
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
body {
	margin-left:55px; /* espaço à esquerda para a barra vertical vísivel do menu */
	
	}

#campoFotoFeed {
	width: 48px;
	height: 48px;	
	border-radius: 50%;
}

#campoFotoFeed img {
	border: 0;
}

.commentPerfil{	
	margin-top: 5px;
	overflow-y: auto; /* cria um scroll para não exeder o tamnho da div */
	background-color:rgba(255,255,255,0.2);
	display: inline-block;
	padding:5px;	
	margin-bottom:5px;
	margin-right:5px;
	float:none;
	width:400px;
	max-height:300px;
	min-height: 350px;
	border-radius: 4px;
}

p#texto {
	margin: 0;
	padding: 10px;
	height: auto;	
	
}
#user {
	display: block;
	margin-top: -38px;
	margin-left: 55px;
}

#dataPost {
	display: block;
	font-size: 9pt;
	margin-left: 10px;
	margin-top: 15px;
}

.comentariosPost{
	display: block;	
	padding:5px;
	width:100%;
	max-height:300px;
	margin-top: 5px;
	margin-bottom:5px;	
	background-color: #9370DB;
	border-radius: 4px;
}


#usercoment {
	display: block;
	margin-top: -38px;
	margin-left: 55px;
	
}

.fa-id-badge {
	margin-left: 10px;
}
