/*reset básico. ALTERAR DEPOIS PARA SOMENTE OS Q USAM MARGIN E PADDING*/
.container-grid, .row, .col, #footer, @media {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*container - envolver conteudo e definir largura/alinhar*/
.container-grid{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

@media (min-width:1170px) {
	.container-grid{
		max-width: 1170px;
		padding: 0;
	}
}

/*linha - dividir conteudo e resetar padding do 1º e ultimo elemento das laterais*/
.row {
	margin-left: -5px;
	margin-right: -5px;
}
	.row:before,
	.row:after {
	content: "";
	display: table;
}
.row:after{
	clear: both;
}

/*colunas*/
.col {
	display: inline-block;
	vertical-align: top;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	margin-right: -4px;
	
	*zoom: 1;
	*display: inline;
}

/* duas colunas */
@media (min-width: 480px){
.col-2 {
	width: 50%;
	}
}

/*três colunas*/
@media (min-width: 728px) {
	.col-3 {
		width: 33.3333%;
	}
}

/*quatro colunas*/
@media (min-width: 992px) {
	.col-4 {
		width: 25%;
	}
}

/*sidebar*/
@media (min-width: 992px) {
	.col-content {
		width: 60%;
	}
	
	.col-sidebar {
		width: 40%;
	}
}

.teste {
	background: #fdfffe;
	padding: 5px;
	text-align: center;
	margin: 2px 0;
	color: #fff;
}

.teste img {
	width: 275px;
	height: auto;
}

.col1 {
	background: #fdfffe;
	padding: 5px;
	text-align: center;
	margin: 2px 0;
	color: #fff;
}

.col1 img {
	
	height: auto;
}

#footer {
	margin: auto;
	width: 100%;
	bottom: 0;
	text-align: center;
	color: #FFF;
	font-size: 10pt;
}