@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* CSS Document */

*{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	outline: none;
	transition: all .23s ease-in-out;
	
	
}
/* regra para o box-sizing */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* regra para o clear float */
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
body {
	margin-left:55px; /* espaço à esquerda para a barra vertical vísivel do menu */
	background-color: #9370DB;
	
	}
.lateral {
	padding:0 50px 0 0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:0.8em;
	background:rgb(44,62,80);
	background-image: -moz-linear-gradient(135deg, rgb(75,0,130), rgb(147,112,219));
     background-image: -webkit-linear-gradient(135deg, rgb(75,0,130), rgb(147,112,219));
      background-image: -o-linear-gradient(135deg, rgb(75,0,130), rgb(147,112,219) );
       background-image: -ms-linear-gradient(135deg, rgb(75,0,130), rgb(147,112,219));
        background-image: linear-gradient(135deg, rgb(75,0,130), rgb(147,112,219));
	height:100%;
	overflow:hidden;
	width:370px; 
	position:fixed;
	top:0;
	left:-320px;
	}
.lateral:before {
	z-index:1000;
	content: url(icone-menu.png);
	font-size:4em;
	color:white;
	position:fixed;
	left:4px;
	top:45px;
	}
.lateral:hover:before, .lateral:focus:before {
left:-500px
	}
.lateral:hover, .lateral:focus,  .lateral:active  {
	overflow-y:auto;
	-moz-transform: translate(220px, 0);
		-webkit-transform: translate(220px, 0);
			-o-transform: translate(220px, 0);
				transform: translate(220px, 0);
	padding-right:0;
	}

.lateral .box {
	list-style-type:none;
	margin-bottom:1em;;
	padding-bottom:1em;
	}

.container {	
	position:relative;
	font-size:0.7em;
	margin:1em 0 1em 6em;
	padding:0;
	}
.container li {
	padding:0; 
	margin:0;
}
.container li a,  .container li a:link {
	font-size:0.9em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	-moz-transition: all 1.2s ease;
			-webkit-transition: all 1.2s ease;
				-o-transition: all 1.2s ease;
					transition: all 1.2s ease;
	}
.container li a:hover {
	color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.2);
	-moz-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
	}





#campoFoto img {
	height: 48px;
	width: 48px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	
}
#footer {
	display: block;
	text-align: center;
    width:100%;
	clear: both;
	margin-bottom: 0;
}

a #nomeUsu {
	display: inline-block;
	
	
}


@media (max-width: 100px) {
body {margin-left:0;background-size:100% 28em!important;}
.lateral {
	padding:0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:1.2em;
	height:50%;
	overflow:auto;
	width:100%; 
	position:static;
	top:0;
	left:0;
	}
.lateral:before {
	z-index:1000;
	width:0;
	text-align:right;
	content: "";
	font-size:0;
	color:white;
	position:static;
	top:0;
	left:0;
	display:inline-block; 
	}
.lateral:hover, .lateral:focus {
	overflow:scroll;
	-moz-transform: none;
		-webkit-transform: none;
			-o-transform:none;
				transform:none;
	}
.container li a {border-bottom:1px solid #ccc;}
.container li:first-child a {border-top:1px solid #ccc;}	
}

