*{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	outline: none;
	transition: all .23s ease-in-out;
}


.container ul {
	list-style-type: none; /*Remove o estilo padrao das listas*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed; /*Fixa a Barra de Menu no topo mesmo quando vc da scroll down*/
	top: 0;
	width: 100%;
	border: 1px solid #33334d;
}

.container li {
    float: left;
}

.container a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	cursor: pointer;
}


.container a:hover {
    background-color: #111;
}

.container a:hover:not(.active) {   /*O item de lista q tiver a classe active ficará destacado*/
	background-color: #111;
}

.active {
	background-color: #c2c2d6;
}

.container .userFoto {
	float: right;
}

.container .userFoto a {
	float: right;	
	display:inline-block;
	margin: 0;
	padding: 0;	
	border: 0;
	border-radius: 50%;

}

#campoFoto img {
	height: 48px;
	width: 48px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	
}

main {
	min-height: 100%;
	position: relative;
	width: 100%;
	
}

#footer {
	display: block;    
    width:100%;
	clear: both;	
}

@media screen and (max-width: 600px){  /*Responsividade para mobile*/
	ul li.right,
	ul li {float: none;}
}

body {
	margin-top: 50px;

}