
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	height: 50px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

.userFoto {
	float: right;
}

.userFoto a {
	float: right;
	display:inline-block;
	margin: 0;
	padding: 0;
	height: 50px;
	border: 0;
	border-radius: 50%;

}

#campoFoto img {
	height: 48px;
	width: 48px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	
	
}

main {
	min-height: 100%;
	position: relative;
	width: 100%;
	
}

#footer {
	display: block;    
    width:100%;
	clear: both;
	
	
}