@charset "utf-8";
/* CSS Document */
*{
	margin: 0;	
	font-family: 'Montserrat', sans-serif;
	outline: none;
	transition: all .23s ease-in-out;
}



body {
	margin-left:55px; /* espaço à esquerda para a barra vertical vísivel do menu */
	
	}
#infoPerfil{
	width: 100%;
	height: 100%;
	padding: 0;
}

div.fotoCapa{
	position: relative;
	width: 841px;
	height: 425px;	
	padding: 0;
	max-height: 425px;
	left: 50%;
	margin-left: -425px;
}
#inputFotoCapa {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputFotoCapa-label{
  color: #FFF;
  background-color: #337AB7;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#fotoCapaPerfil{
	position: relative;
	margin-top: 0;	
	min-width: 100%;
	min-height: 100%;
	max-width: 50%;
	max-height: 425px;
	left: 50%;
	margin-left: -420px;
	z-index: -1;
}
#fotoTrocaTopo{
	position: absolute;
	margin-top: 0;
	left: 50%;
	margin-left: -397.5px;
	width: 851px;
}
div.infoUsu{
	width: 841px;
	height: 150px;
	position: absolute;
	left: 50%;
	margin-left: -396.5px;
	background-color:rgba(255,255,255,0.5);
	top: 275px;	
	z-index: 2;
}


#campoFotoFeed {
	width: 48px;
	height: 48px;	
	border-radius: 50%;
}

#campoFotoFeed img {
	border: 0;
}

.commentPerfil{	
	display: block;
	position: relative; 
	padding:5px;
	max-width: 50%;	
	max-height:300px;
	min-height: 350px;
	left: 50%;
	margin-left: -25%;
	margin-top: 5px;
	margin-bottom:5px;	
	border-radius: 4px;
	overflow-y: auto; /* cria um scroll para não exeder o tamnho da div */
	background-color:rgba(255,255,255,0.2);	
}

p#texto {
	margin: 0;
	padding: 10px;
	height: auto;	
}
#user {
	display: block;
	margin-top: -38px;
	margin-left: 55px;
}

#dataPost {
	display: block;
	font-size: 9pt;
	margin-left: 10px;
	margin-top: 15px;
}

.comentariosPost{
	display: block;	
	padding:5px;
	width:100%;
	max-height:300px;
	margin-top: 5px;
	margin-bottom:5px;	
	background-color: #9370DB;
	border-radius: 4px;
}


#usercoment {
	display: block;
	margin-top: -38px;
	margin-left: 55px;
	
}





#inputPerfilFoto {
	width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#inputPerfilFoto-label {
	color: #FFF;
  background-color: #337AB7;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
